@font-face {
  font-family: "OffBit Trial";
  src: url("../fonts/OffBit/OffBit-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono/RobotoMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono/RobotoMono-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../fonts/PPNeueMontreal/PPNeueMontreal-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../fonts/PPNeueMontreal/PPNeueMontreal-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../fonts/PPNeueMontreal/PPNeueMontreal-Bold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Redaction 35";
  src: url("../fonts/Redaction35/Redaction35Bold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
